<!-- This is the 'Host' screen. It displays the word for each player to match
<div id="wordArea">
    <div id="timer">5</div>
    <iframe id="video" src="https://www.youtube.com/embed/milyfLeE-3Y" frameborder="0" style="pointer-events: none;"></iframe>
</div>
<div id="playerScores">
    <div id="player1Score" class="playerScore">
        <span class="score">0</span><span class="playerName">Player 1</span>
    </div>
    <div id="player2Score" class="playerScore">
        <span class="playerName">Player 2</span><span class="score">0</span>
    </div>
</div> -->


<div class="grid-x align-middle">
  <div class="medium-3 cell leaderboard" style="padding: 10px;">
    <h4 class="text-center">Leaderboard</h4>
    <table class="responsive text-center" style="width: 100%">
      <tbody>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
        <% for(var i=0; i < users.length; i++) { %>
          <tr>
            <td style="text-align: left"><%= i + 1 %></td>
            <td style="text-align: center"><%= users[i].name %></td>
            <td style="text-align: right;"><%= users[i].score %></td>
          </tr>
         <% } %>
      </tbody>
    </table>
  </div>
  <div class="medium-9 cell text-center" style="border-radius: 20px; height: 60vh;">
    <div class="camera">
      <video id="webcam">Video stream not available.</video>
    </div>
    <object data="https://www.youtube.com/embed/5sqPu-x-_tw" style="width: 90%; height: 100%;border-radius: 20px;margin: 10px; border:2px solid rgb(255, 51, 51);"></object>
  </div>
</div>
