<!-- This screen appears when a user clicks "Host Game" on the Lobby Screen -->
<div class="createGameWrapper">

    <div class="info">Open this site on your mobile device:</div>
    <div id="gameURL" class="infoBig">Error!</div>

    <div class="info">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
    <div id="spanNewGameCode" class="gameId">Error!</div>

    <div id="playersWaiting"></div>
</div>
