<!-- Main Title Screen that appears when the page loads for the first time -->
<div class="titleWrapper">

    <div class="title">Face-Off</div>

    <div class="buttons">

        <button id="btnCreateGame" class="btn left">CREATE</button>
        <button id="btnJoinGame" class="btn right">JOIN</button>
        <div style="clear:both"></div>
    </div>

</div>
