<!-- This screen appears when a player clicks "JOIN" on the Title Screen -->
<div class="joinGameWrapper">
    <div class="info">
        <label for="inputPlayerName">Your Name:</label>
        <input id="inputPlayerName" type="text" />
    </div>

    <div class="info">
        <label for="inputGameId">Game ID:</label>
        <input id="inputGameId" type="text"/>
    </div>

    <div class="info buttons">
        <button id="btnStart" class="btn">Start</button>
        <div id="playerWaitingMessage"></div>
    </div>
</div>
