<!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
<div class="createGameWrapper">
    <div class="info">
        <label for="inputHostName">Your Name:</label>
        <input id="inputHostName" type="text" />
    </div>

    <div class="info buttons">
        <button id="btnHost" class="btn">Host Game</button>
    </div>
</div>
