<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>FaceOff</title>
    <!-- Let's borrow a cool looking Font from Google -->
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" />
    <link rel="stylesheet" type="text/css" href="../public/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/responsive-tables.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/custom_faceoff.css" />
    <script type="text/javascript" src="../public/js/bodymovin.js"></script>
    <script src="../public/js/jquery.js"></script>
  </head>
  <body>
    <div class="grid-x align-top" style="height: 100vh;">
      <div class="large-12 cell">
        <div class="large-12 cell" style="height: auto">
          <div class="grid-x">

            <div class="top-bar" style="width: 100%" id="responsive-menu">
              <div class="top-bar-left">
                <ul class="menu">
                  <li><a class="button" id="quit-btn">Quit Game</a></li>
                  <li><a href="#" class="button">Browse Games</a></li>
                </ul>
              </div>
              <div class="top-bar-right">
                <ul class="menu">
                  <li>
                    <div id="fb-root"></div>
                    <fb:login-button id="fb-btn" class="fb-login-button" scope="public_profile, user_friends, email" onlogin="checkLoginState();" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></fb:login-button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="large-12 cell" id="gameArea">
        <!-- This is where the templates defined below will be used -->
        <div class="grix-x" style="height: 100vh; background-color:rgb(255,51,51)">
          <div class="large-12 cell">
            <div id="bodymovin"></div>
              <div class="titleWrapper">
                <div class="title" style="margin-bottom: 40px;">Raphael, Anubhav, Paul, and Corey present: Face Off<br>A web platform that utilizes Microsoft's Azure emotion API</div>

                <div class="buttons">
                    <button id="btnCreateGame" class="btn left">CREATE</button>
                    <button id="btnJoinGame" class="btn right">JOIN</button>
                    <div style="clear:both"></div>
                </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Main Title Screen that appears when the page loads for the first time -->
      <script id="intro-screen-template" type="text/template">
          <!-- This is where the templates defined below will be used -->
          <div class="grix-x" style="height: 100vh; background-color:rgb(255,51,51)">
            <div class="large-12 cell">
              <div id="bodymovin"></div>
                <div class="titleWrapper">
                  <div class="title" style="margin-bottom: 40px;">Raphael, Anubhav, Paul, and Corey present: Face Off<br>A web platform that utilizes Microsoft's Azure emotion API</div>

                  <div class="buttons">
                      <button id="btnCreateGame" class="btn left">CREATE</button>
                      <button id="btnJoinGame" class="btn right">JOIN</button>
                      <div style="clear:both"></div>
                  </div>

              </div>
            </div>
          </div>
      </script>

      <!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
      <script id="create-game-template-1" type="text/template">
          <div class="createGameWrapper">
              <div class="info">
                  <label for="inputHostName">Your Name:</label>
                  <input id="inputHostName" type="text" />
              </div>

              <div class="info buttons">
                  <button id="btnHost" class="btn">Host Game</button>
              </div>
          </div>
      </script>

      <!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
      <script id="create-game-template-2" type="text/template">
          <div class="createGameWrapper">

              <div class="info">Open this site on your mobile device:</div>
              <div id="gameURL" class="infoBig">Error!</div>

              <div class="info">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
              <div id="spanNewGameCode" class="gameId">Error!</div>

              <div id="playersWaiting"></div>
          </div>
      </script>

      <!-- This screen appears when a player clicks "JOIN" on the Title Screen -->
      <script id="join-game-template" type="text/template">
          <div class="joinGameWrapper">
              <div class="info">
                  <label for="inputPlayerName">Your Name:</label>
                  <input id="inputPlayerName" type="text" />
              </div>

              <div class="info">
                  <label for="inputGameId">Game ID:</label>
                  <input id="inputGameId" type="text"/>
              </div>

              <div class="info buttons">
                  <button id="btnStart" class="btn">Start</button>
                  <div id="playerWaitingMessage"></div>
              </div>
          </div>
      </script>

      <!-- This is the 'Host' screen. It displays the word for each player to match -->
      <script id="game-template" type="text/template">
        <div class="grid-x align-top">
          <div class="medium-3 cell leaderboard" style="padding: 10px;">
            <h4 class="text-center">Leaderboard</h4>
            <table class="responsive text-center" style="width: 100%">
              <tbody id="scoreTable">
              </tbody>
            </table>
          </div>
          <div class="medium-9 cell text-center" style="border-radius: 20px; height: 60vh;">
            <div id="timer">5</div>
            <div class="camera">
              <video id="webcam" poster="http://via.placeholder.com/150x150">Video stream not available.</video>
            </div>
            <canvas id="canvas" style="display: none;">
            </canvas>
            <div id="yt">
              <iframe id="video" src="https://www.youtube.com/embed/5sqPu-x-_tw" frameborder="0"></iframe>
            </div>

            <div class="flex-child-auto align-stretch" style="">
            <div class="grid-x">
              <div class="small-12 cell text-middle" style="">
                <ul class="player-list" style="list-style-type: none; display: inline;">
                  <li><img src="http://via.placeholder.com/150x150" ></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </script>

    </div>

    </div>
  </body>
  <!-- script.js is where all the client-side game logic -->
  <script src="../public/js/script.js"></script>
  <script src="../public/js/what-input.js"></script>
  <script src="../public/js/foundation.min.js"></script>
  <script src="../public/js/custom_faceoff.js"></script>
  <!-- Bodymovin script -->
  <script>
    var anim;
    var elem = document.getElementById('bodymovin')
    var animData = {
        container: elem,
        renderer: 'svg',
        loop: false,
        autoplay: false,
        rendererSettings: {
            progressiveLoad:false
        },
        path: 'json/data.json'
    };
    anim = bodymovin.loadAnimation(animData);

    </script>
  </body>
  <script>
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);

      if (response.status === 'connected') {
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
        //console.log(accessToken);
        testAPI();
      } else if (response.status === 'not_authorized') {
        console.log('User has logged into FB but not authorized app');
      } else {
        console.log('Something is wrong; not authorized');
      }
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '207752326429628',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.10'
      });
      FB.AppEvents.logPageView();

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      FB.Event.subscribe('auth.login', function(response) {
        console.log(response);
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=207752326429628";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function reqListener() {
      var data = JSON.parse(this.responseText);
      console.log(data);
    }

    function reqError(err) {
      console.log('Fetch Error :-S', err);
    }

    function login() {
      FB.login(function(response) {
        if (response.status === 'connected') {
          console.log(response.authResponse.accessToken);
          //var fbConnected = new XMLHttpRequest();
          //fbConnected.onload = reqListener;
          //fbConnected.onError = reqError;
          //fbConnected.open('get', './fbconnected', true);
          //fbConnected.send();
        } else {
          console.log('Not authenicated');
        }
      });
    }

    function testAPI() {
      console.log('testAPI');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);

      });
    }


  </script>
</html>
