html, body {
	background-color: rgb(242, 242, 242);
	overflow-y: hidden;
}

.top-bar, .menu {
	background-color: rgb(255, 51, 51) !important;
}

ul {
	margin:0;
}

ul li .button {
	border-radius: 15px;
	margin: 10px;
}

.player-list li img {
	padding: 10px;
	width: 20%;
}

.leaderboard tr{
	background color: rgb(0,204,0);
	border-radius: 5px;
}

.leaderboard tbody {
	background-color: rgb(0,130,0);
	border-radius: 20px;
	padding: 15px;
}

.leaderboard ul li p {
	display: inline;
}

.leaderboard h4 {
	color: rgb(255, 51, 51);
}

table.responsive tr:nth-child(odd) {
	background-color: rgb(255, 51, 51) !important;
}

table.responsive tr:nth-child(even) {
	background-color: rgb(255, 128, 128) !important;
}

table.responsive {
	font-family: 'Quicksand', 'sans-serif';
}

.button {
	background-color: rgb(255, 128, 128);
}

.button:hover {
	background-color: rgb(217, 217, 217);
	color: rgb(255, 51, 51);
}

.vidstream {
	position: absolute;
	right: 20px;
	top: 10vh;
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

.camera video {
	width: 20%;
	height: auto;
}

.player-list {
	display: inline;
}

.player-list li {
	display: inline
}

.player-list li figure {
	display: inline !important;
}

.player-list li figure figcaption {
	position: relative;
	left: -50px;
	display: inline;
}

#bodymovin{
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}

#bodymovin svg {
	height: 40vh !important;
}


/*Animations specifications*/
#btnHost, #nameField, .joinGameWrapper .info {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
}

#gameURL, #spanNewGameCode {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
}

#description1 {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
}

#description2 {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
}

#btnCreateGame, #btnJoinGame, #quit-btn, #browse-btn {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
}

iframe {
	border-radius: 20px;
	margin-top: 15px;
}

#numPlayers {
	margin: auto !important;
	width: 20% !important;
	text-align: center !important;
	border-radius: 10px !important;
	box-shadow: inset 0px 1px 6px rgba(20,20,20,0.6) !important;
	background-color: #f2f2f2 !important;
}